:root{
    --margemPadrao: 10rem;
    --backgroundColor: #021122;
    --text: #f0eeea ;
    --primary01: #015d87;
    --primary02: #00afff;
    --secondary01: #104277;
    --secondary02: #021d398e;
    --secondary03: #0a294a;
    --accent01: #089299 ;
    --accent02: #0afafa ;
    --accent03: #3eb2e8 ; 
    --accent04: #e8743e ; 
    --accent05: #f0eeea ;
    --photogradient: radial-gradient(circle at center, var(--secondary01),var(--backgroundColor));
    --nikitirunColor:  #0758877b;
}

/*e3b0b0d9*/
.light-mode:root{
    --margemPadrao: 10rem;
    --backgroundColor: #dcecf1;
    --text: #212121;
    --primary01: #015a84;
    --primary02: #015d87;
    --secondary01: #104277;
    --secondary02: #d4e6f1;
    --accent01: #089299 ;
    --accent02: #8c00ff ;
    --accent03: #2d5697 ; 
    --accent04: #e67845 ; 
    --accent05: #f0eeea ;
    --photogradient: radial-gradient(circle at center, var(--secondary01),var(--backgroundColor));
    --nikitirunColor:  #c0e1f4;
  }

html{
    color: var(--text);
    background-color: var(--backgroundColor);

    margin-left: var(--margemPadrao);
    margin-right: var(--margemPadrao);
    
    scroll-behavior: smooth;
}

b{
    color: var(--accent03);
}

.nao-atualizado{
    position: fixed;
    top: 0%;
    left: 0%;
    height: 50px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: var(--accent04);
    background-color: var(--accent05);
    margin: 0;
}

.menu{
    display: flex;
    gap: 15px;
    justify-content: center;
}

.menu-item{
    margin-top: 0;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: var(--text);
}

.menu-item:hover{
    color: var(--accent02);
}

.clickable:hover{
    cursor: pointer;
}

#fotoDiv{
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: 10px;
    margin-right: calc(var(--margemPadrao)* -1);
    margin-left: calc(var(--margemPadrao)* -1);
    background-image:var(--photogradient);
}

.myFoto{
    height: 250px;
    width: auto;
    border: 3px solid var(--primary01);
    border-radius: 50%;
}


#myName{
    font-size: 30px;
    margin: 0;
    color: #f0eeea;
    display: flex;
    justify-content: center;
}

#sobre-section{
    /*color: var(--text);*/
    font-size: larger;
}

.title{
    color: var(--primary02);
    font-size: 36px;
}


#icon-rol{
    display: flex;
    gap: 20px;
    justify-content:flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.tec-icon{
    height: 80px;
    width: auto;
    border-radius: 10px;
}

.form-field{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
    
    border: 1px solid var(--primary01);
    background-color: var(--backgroundColor);
    
    color: var(--text);
    font-size: large;
}

.form-field:hover{
    box-shadow: 0 0 0.250rem 0.125rem var(--accent01);
}

.form-label{
    font-size: 24px;
    /*color: var(--text);*/
}

.input-box{
    padding: 0.25rem;
    height: 20px;
    width: 20rem;
}

.message-box{
    padding: 0.25rem;
    height: 100px;
    width: 500px;
    min-height: 10rem;
    resize: vertical;
}

.input-focus:focus{
    box-shadow: 0 0 0.250rem 0.125rem var(--accent01);
}

.submit-button{
    font-size: larger;
    font-weight: 700;
    color: var(--text);

    margin-top: 15px;
    cursor: pointer;

    background-color: var(--backgroundColor);
    border: 2px solid var(--accent01);
    border-radius: 10px;
    
    height: 36px;
    width: 150px;
}

.submit-button:hover{
    color: var(--text);
    background-color: var(--backgroundColor);
    border-color: var(--accent05);
    cursor: pointer;
    transition-duration: 1s;

    animation: botao forwards;
    animation-duration: 1.5s;

    box-shadow: 0 0 0.250rem 0.125rem var(--accent01);
}

.submit-button:disabled{
    cursor:not-allowed;
}

.success{
    color: var(--accent01);
}

.error{
    color: tomato;
}

@keyframes botao {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}


.social-icon{
    height: 64px;
    width: auto;
    border-radius: 10px;
}

#theme-button{
    position: fixed;
    bottom: 5%;
    right: 3%;

    height: 50px;
    width: 50px;

    color: var(--text);
    border: 1px 1px 1px 1px ;
    background-color: var(--backgroundColor);
    border-radius: 10px;
    border-color: var(--primary01)
}

#theme-button:hover{
    box-shadow: 0 0 0.250rem 0.125rem var(--accent01);
}

.skill-div{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 10px 20px;
    background-color: var(--secondary02);
    border-radius: 15px;
}
.skill-div h1{
    font-size: 40px;
}

.skill-div h2{
    font-size: 30px;
}

.skill-div p{
    font-size: larger;
}

.skill-div a{
    font-weight: 300;
    color: var(--accent02);
    text-decoration-color: var(--accent02);
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

.skill-div a:hover{
    color: var(--accent04);
    text-decoration-color: var(--accent04);
}


#nikitirun{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: -10px;
    padding: 1px 1rem 1rem 1rem;
    background-image: linear-gradient(to right, var(--nikitirunColor), transparent);
    border-radius: 15px;
}

#nikitirun h2{
    display: flex;
    justify-content:space-between;
    align-content:start;
}

#projeto-button{
    font-size: larger;
    font-weight: 700;
    color: var(--text);

    background-color: var(--backgroundColor);
    border: 2px solid var(--accent01);
    border-radius: 10px;
    
    height: 80px;
    width: auto;
}

#projeto-button:hover{
    color: var(--text);
    background-color: var(--backgroundColor);
    border-color: var(--accent05);
    cursor: pointer;
    transition-duration: 1s;

    animation: botao forwards;
    animation-duration: 1.5s;

    box-shadow: 0 0 0.250rem 0.125rem var(--accent01);
}