:root{
    --margemPadrao: 10rem;
    --backgroundColor:#252525;
    --text: #f0eeea ;
    --primary: #004f75;
    --secondary: #104277;
    --secondaryshade: #021d398e;
    --accent: #089299 ;
    --photogradient: radial-gradient(circle at center, var(--secondary),var(--backgroundColor));
    --nikitirunColor:  #0758877b;
}

/*e3b0b0d9*/
.light-mode:root{
    --margemPadrao: 10rem;
    --backgroundColor: #e0e0e0;
    --text: #212121;
    --primary: #004f75;
    --secondary: #104277;
    --secondaryshade: #cef9f08e;
    --accent: #089299 ;
    --photogradient: radial-gradient(circle at center, var(--secondary),var(--backgroundColor));
    --nikitirunColor:  #c0e1f4;
  }

html{
    color: var(--text);
    background-color: var(--backgroundColor);

    margin-left: var(--margemPadrao);
    margin-right: var(--margemPadrao);
    
    scroll-behavior: smooth;
}

b{
    color: var(--accent);
}
.menu{
    display: flex;
    gap: 15px;
    justify-content: center;
}

.menu-item{
    margin-top: 0;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: var(--text);
}

.menu-item:hover{
    color: var(--accent);
}

.clickable:hover{
    cursor: pointer;
}

#fotoDiv{
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: 10px;
    margin-right: calc(var(--margemPadrao)* -1);
    margin-left: calc(var(--margemPadrao)* -1);
    background-image:var(--photogradient);
}

.myFoto{
    height: 250px;
    width: auto;
    border: 3px solid var(--primary);
    border-radius: 50%;
}


#myName{
    font-size: 30px;
    margin: 0;
    color: #f0eeea;
    display: flex;
    justify-content: center;
}

#sobre-section{
    /*color: var(--text);*/
    font-size: larger;
}

.title{
    color: var(--primary);
    font-size: 36px;
}


#icon-rol{
    display: flex;
    gap: 20px;
    justify-content:flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.tec-icon{
    height: 80px;
    width: auto;
    border-radius: 10px;
}

.form-field{
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
    
    border: 1px solid var(--primary);
    background-color: var(--backgroundColor);
    
    color: var(--text);
    font-size: large;
}

.form-field:hover{
    box-shadow: 0 0 20px 2px var(--accent);
}

.form-label{
    font-size: 24px;
    /*color: var(--text);*/
}

.input-box{
    padding: 0.25rem;
    height: 20px;
    width: 20rem;
}

.message-box{
    padding: 0.25rem;
    height: 100px;
    width: 500px;
    min-height: 10rem;
    resize: vertical;
}

.input-focus:focus{
    box-shadow: 0 0 20px 2px var(--accent);
}

.submit-button{
    font-size: larger;
    font-weight: 700;
    color: var(--text);

    margin-top: 15px;

    background-color: var(--backgroundColor);
    border: 2px solid var(--accent);
    border-radius: 10px;
    
    height: 36px;
    width: 100px;
}

.submit-button:hover{
    color: var(--text);
    background-color: var(--backgroundColor);
    border-color: var(--text);
    cursor: pointer;
    transition-duration: 1s;

    animation: botao forwards;
    animation-duration: 1.5s;

    box-shadow: 0 0 30px 2px var(--accent);
}


@keyframes botao {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}


.social-icon{
    height: 64px;
    width: auto;
    border-radius: 10px;
}

#theme-button{
    position: fixed;
    bottom: 5%;
    right: 3%;

    height: 50px;
    width: 50px;

    color: var(--text);
    border: 1px 1px 1px 1px ;
    background-color: var(--backgroundColor);
    border-radius: 10px;
    border-color: var(--primary)
}

#theme-button:hover{
    box-shadow: 0 0 20px 2px var(--accent);
}

.skill-div{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 10px 20px;
    background-color: var(--secondaryshade);
    border-radius: 15px;
}
.skill-div h1{
    font-size: 40px;
}

.skill-div h2{
    font-size: 30px;
}

.skill-div p{
    font-size: larger;
}

.skill-div a{
    color: var(--text);
    text-decoration-color: var(--accent);
    font-weight: bold;
}

#nikitirun{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: -10px;
    padding: 1px 1rem 1rem 1rem;
    background-image: linear-gradient(to right, var(--nikitirunColor), transparent);
    border-radius: 15px;
}

#nikitirun h2{
    display: flex;
    justify-content:space-between;
    align-content:start;
}

#projeto-button{
    font-size: larger;
    font-weight: 700;
    color: var(--text);

    background-color: var(--backgroundColor);
    border: 2px solid var(--accent);
    border-radius: 10px;
    
    height: 80px;
    width: auto;
}

#projeto-button:hover{
    color: var(--text);
    background-color: var(--backgroundColor);
    border-color: var(--text);
    cursor: pointer;
    transition-duration: 1s;

    animation: botao forwards;
    animation-duration: 1.5s;

    box-shadow: 0 0 30px 2px var(--accent);
}